.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgba(13, 110, 253, 0.67) !important;

  .container {

    .logout-btn {
      background: #f35555de; /* linear-gradient(to bottom, #77257ac9, #f795ff) */
      border: #f35555de;
    }
  }
}

.task-card {
  background-color: rgb(196, 238, 255) !important;
  border: rgb(196, 238, 255) !important;
}
  
.filter-card {
  background-color: rgba(214, 172, 255, 0.747) !important;
  border: rgba(214, 172, 255, 0.747) !important;

  .btn-primary {
    background-color: #3668ffbf;
    border: #3668ffbf;
  }

  .btn-danger {
    background-color: #ff5b6b;
    /* border: #ff4b2bde !important; */
  }

  .btn-warning {
    background-color: #ffe28a;
    /* border: #dde792f2; */
  }

  .btn-success {
    background-color: #198754ab;
  }
}

.detail-card{
  background-color: rgb(196, 238, 255) !important;
}

.task-form {
  background: linear-gradient(to bottom, #fca6ffc9, #eacced);
}